.App {
  text-align: center;
}
body {
  background-color: #282c34;
}
button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  color: #60dafb;
  background-color: #282c34;
}
button:hover {
  cursor: pointer;
  background-color: aliceblue;
}
.App-image {
  height: 40vmin;
  pointer-events: none;
  position: fixed;
  top: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}